<div class="margin-lrtb">
  <h3 class="index-article-title"><%= @article.title %></h3>
  <%= @article.body %>
  <%= render "comments/article_comments" %>
  <%= render "comments/form", comment: @article.comments.build %>
</div>