.index-main-div > .row {
    height: 100vh
}

img {
    max-width: 100%;
    height: 100%;
}

.links {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.index-nevegation-bar {
    padding-top: 2rem;
    padding-bottom: 3rem;
    text-align: center;
    height: 100%;
    width: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
}

.small-screen-nevegation-bar {
    margin-left: 10%;
    border: 1px solid silver;
    padding-top: 5px;
    position: fixed;
    width: 80%;
    z-index: 100;
    text-align: center;
    bottom: 0;
}

.login-user-image img {
    height: 35px;
    width: 33px;
    border-radius: 50%;
}

.b-radius-50 {
    border-radius: 50%;
}

.header-user-name {
    margin: 0px 5px 0px 10px;
}

.index-article-title-raper {
    max-height: 38%;
    overflow: hidden;
}

.small-screen-index-article-title {
    max-height: 60%;
    overflow: hidden;
}

.index-article-title {
    font-size: 22px;
    font-weight: 700;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.small-screen-index-article-title {
    font-size: 16px;
    font-weight: 700;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.index-article-body-raper {
    margin-top: 5px;
    max-height: 43%;
    overflow: hidden;
}

.index-article-body {
    line-height: 24px;
    text-align: justify;
    font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
}

.index-article {
    padding-right: 3px;
    width: 80%;
}

.index-article-image {
    margin-left: 60px;
    height: 100px;
}

.index-small-screen-article-image {
    margin-left: 60px;
    display: block;
    height: 56px;
    width: 56px;
}

.article-image-reper {
    height: 145px;
    display: flex;
}

.small-screen-article-and-image-reper {
    height: 75px;
    display: flex;
}

.index-pagy-nave {
    margin: auto;
    width: fit-content;
    margin-bottom: 40px;
}

.homepage-article-raper {
    margin: auto;
    width: 80%;
}

.index-search-bar {
    border-radius: 50px;
    width: 70%;
}

.small-screen-new-article {
    padding-left: 6%;
    padding-right: 4%;
}
