<!--<div class="index_nevegation_bar">-->
<!--  <div class="index_medium_logo">-->
    <%#= link_to image_tag("medium_icon.png"), root_path %>
<!--  </div>-->
<!--  <div class="links justify-content-around">-->
    <%#= link_to "", root_path, class: "w3-xlarge fa fa-home td-non" %>
    <%#= link_to "", user_path(current_user.id), class: "w3-xlarge fas fa-folder-open td-non" %>
    <%#= link_to "", root_path, class: "w3-xlarge fa fa-user td-non" %>
<!--    <hr>-->
    <%#= link_to "", new_article_path, class: "w3-xlarge far fa-edit td-non" %>
<!--  </div>-->
<!--  <div class="login_user_image">-->
    <%# if current_user.avatar.representable? %>
      <%#= image_tag current_user.avatar %>
    <%# end %>
<!--  </div>-->
<!--</div>-->